/* DOCUMENT SUBMISSION */

/* requirements */
#initialReq .d-flex,
#preDepReq .d-flex,
#inProgressReq .d-flex,
#finalReq .d-flex {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.requirementDescription {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 400px;
}

#invalidFiletype {
  font-size: 12px;
  margin-top: 10px;
}

/* file upload */
#fileUploadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  overflow: hidden;
}

.file-preview-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #f3f3f3;
  padding: 5px 10px;
  border-radius: 5px;
  position: relative;
  max-height: 80px;
  width: auto;
}

.file-preview-wrapper img,
.file-preview-wrapper embed {
  width: 50px;
  height: 50px;
  object-fit: contain;
  border: 1px solid #ccc;
}

.file-preview-name {
  font-size: 12px;
  flex-grow: 1;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  
}

.close-preview {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  background: none;
  border: none;
  padding: 0;
  line-height: 1;
}


#modaldescription {
  max-height: 100px;
  width: auto;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-bottom: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  word-wrap: break-word;
  white-space: normal;

  /* Hide scrollbar */
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

#modaldescription::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, and Opera */
}

#overdue{
  font-size: 12px; 
}

#submissionModal button{
  font-size: 14px;
}


/* DOWNLOADABLE FILES */
.card{
  border: 1px solid #c1c1c1 ;
}
.preview-container {
  height: 100px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  border-radius: 5px 5px 0 0 ;
}
.preview-container iframe {
  pointer-events: none;
  width: 100%;
  height: 400px; /* larger than container to "crop" it */
  transform: scale(1);
  transform-origin: top;
  border-radius: 5px 5px 0 0 ;
}
.placeholder-docx {
  background: #f1f1f1;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  color: #666;
  cursor: pointer;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 5px 5px 0 0 ;
}


/* PARTNER AGENCIES */
.agencyCard {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.agencyCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}



@media (max-width: 768px) {
  .requirementDescription {
    max-width: 30%;
    font-size: 14px;
  }
}